<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>SEJA BEM VINDO O SISTEMA DE CADASTRO DE IDEIAS</h1>
    <a href="/login"> POSSUO CONTA!</a>
    <a href="/cadastrar"> NÃO POSSUO CONTA!</a>
</body>
</html>
<style>
    body{
        background-color: antiquewhite;
    }

    h1{
        text-align: center;
        border-style: solid;
        border-bottom-width: 10px;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
    }

    a{
        text-align: center;
        display: block;
    }
</style>